<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/admin" method="POST">
        <input type="text" name="itemName">
        <input type="text" name="description">
        <input type="text" name="cost">
        <button type="submit">Создать товар</button>
    </form>
    <div class="msg">{{msg}}</div>
    {{#each items}}
        <div class="items">
            <div class="item">
                <h2>{{this.itemName}}</h2>
                <p class="description">{{this.description}}</p>
                <p class="cost">{{this.cost}}</p>
                <p class="id">{{this._id}}</p>
                <button class="delete-item">Delete</button>
            </div>
        </div>
    {{/each}}
</body>
</html>