<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link rel="stylesheet" href="/css/mainPage.css">
    <title>Admin</title>
</head>
<body>
    {{> nav}}
    <form action="/admin" method="POST" enctype="multipart/form-data">
        <input type="text" name="itemName">
        <input type="text" name="description">
        <input type="text" name="cost">
        <input type="file" name="img">
        <button type="submit">Создать товар</button>
    </form>
    <div class="msg">{{msg}}</div>
    <div class="container-fluid">
      <div class="row">
        {{#each items}}
            <div class="generatedCard col-md-3 col-sm-6 col-xs-12">
              <div class="card mt-5">
                <img src="https://images.unsplash.com/photo-1565396319243-49b1f67c82a1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">{{this.itemName}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <div class="card-cost">{{this.cost}} грн</div>
                    <p class="card-id">ID: {{this._id}}</p>
                    <button class="delete" data-id="{{this._id}}">Удалить</button>
                  </div>
                </div>
              </div>
        {{/each}}
        <script src="scripts/adminPanel.js"></script>
</body>
</html>