<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	  <link rel="stylesheet" href="/css/mainPage.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Admin</title>
</head>
<body>
    {{> nav}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 mt-1">
          <form class="mt-5" action="/admin" method="POST" enctype="multipart/form-data">
            <input placeholder="Name" type="text" name="itemName" id="name">
            <input placeholder="Description" type="text" name="description" id="description">
            <input placeholder="Cost" type="text" name="cost" id="cost">
            <input value="Фото товара" type="file" name="img" id="file">
            <button class="btn btn-outline-success" style="cursor: pointer" type="submit">Create</button>
          </form>
          <div class="msg">{{msg}}</div>
        </div>
        {{#each items}}
          <a href="/item?id={{this._id}}">
            <div class="generatedCard col-lg-2 col-md-3 col-sm-6 col-xs-12" >
              <div class="card mt-5">
                <img src="{{this.image}}" class="card-img-top" alt="photo" style="min-width:133x; min-height:280px; object-fit: cover;">
                  <div class="card-body">
                    <h5 class="card-title text-center">{{this.itemName}}</h5>
                    <p style="font-size: 1.3em" class="card-text text-left">{{this.cost}}$</p>
                    <div class="d-flex justify-content-center"><a data-id="{{this._id}}" class="btn btn-outline-danger mt-4 delete" style="cursor: pointer">Delete</a></div>
                  </div>
                </div>
              </div>
            </a>
        {{/each}}
        <script src="scripts/adminPanel.js"></script>
</body>
</html>