<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Cart</title>
</head> 
<body>
    {{> nav}}
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <h2 class="text-center">Cart</h2>
            </div>
        </div>
        {{#each items}}
        <div class="row mt-4">
            <p class="col-md-3 col-sm-12 text-center">{{this.item.itemName}}</p>
            <p class="cost col-md-3 col-sm-12 text-center">{{this.item.cost}}$</p>
            <p class="quantity col-md-3 col-sm-12 text-center">{{this.quantity}}</p>
            <p data-id="{{this._id}}" class="text-center btn btn-outline-danger delete-item col-md-3 col-sm-12" style="cursor: pointer">Remove</p>
        </div>
        {{/each}}
        <div class="row mt-5">
            <div class="total col-2 offset-8">Total: {{total}}$</div>
            <button type="button" class="col-2 btn btn-success" data-toggle="modal" data-target="#exampleModal">Order</button>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/orders" method="post">
                <p class="col-12 text-center">We will call you later to approve your order</p>
                <input type="text" name="name" class="col-12" placeholder="Name" required>
                <input type="text" name="surname" class="col-12 mt-3" placeholder="Surname" required>
                <input type="text" name="adress" class="col-12 mt-3" placeholder="Adress" required>
                <input type="text" name="phone" class="col-12 mt-3" placeholder="Phone" required>
                <button type="button" class="btn btn-secondary mt-3" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary order mt-3">Send Order</button>
            </form>
        </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="scripts/cart.js"></script>
    <script src="scripts/order.js"></script>
</body>
</html>